---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Item from "../components/Item.astro";

type Frontmatter = {
  title: string;
  date: string;
  description?: string;
  draft?: boolean;
};

const posts = await Astro.glob<Frontmatter>("../pages/publicacoes/*.md");
const nonDraftPosts = posts
  .filter((post) => !post.frontmatter.draft)
  .sort((postA, postB) => {
    if (postB.frontmatter.date > postA.frontmatter.date) {
      return 1;
    }

    if (postB.frontmatter.date < postA.frontmatter.date) {
      return -1;
    }

    return 0;
  });

console.log(nonDraftPosts);
---

<Layout title="Notícias de Desenvolvimento Web (br-dev)">
  <main>
    <ul role="list" class="link-card-grid">
      {
        nonDraftPosts.map((publication) => (
          <Item
            href={publication.url || ""}
            title={publication.frontmatter.title}
            date={new Date(publication.frontmatter.date)}
            body={publication.frontmatter.description || ""}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 80ch;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
