---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Por que usar Rust?">
  <article class="mx-auto w-1/2 mt-10">
    <h2>C-Like</h2>

    <p class="text-center">
      Rust é uma linguagem c-Like moderna, capaz de construir aplicações perfomáticas.
    </p>
  </article>
</Layout>