---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre">
  <article class="mx-auto w-1/2 mt-10">
    <h2>Sobre</h2>

    <p>
      A ideia do br-dev.org é ser um agregador de notícias do mundo de
      desenvolvimento, inspirado principalmente no br-linux.org, no
      tabnews.com.br e na frase <a
        class="underline"
        href="https://youtube.com/clip/UgkxjWPfGNAmONaPJeoBDWqfQ5cut2CY1lOz"
        target="_blank">"afinal, só pode ter uma coisa de cada coisa?"</a
      >.
    </p>
    <a class="underline" href="https://github.com/br-dev-org/site">Github</a>
  </article>
</Layout>
