---
import type { Commit } from '../pages/sobre/_lib/commitList';

export interface Props {
  commits: Commit[];
}

const { commits } = Astro.props as Props;

---

{
  commits.map((commit) => (
    <li>{commit.commit.message.replace(/^add: |remove: |change: /, "")}</li>
  ))
}
