---
export type Props = {
  text: string;
  href: string;
  target?: string;
  rel?: string;
};

const { text, href, ...rest } = Astro.props as Props;
---

<li class="menu-item">
  <a href={href} {...rest}>{text}</a>
</li>
<style>
  .menu-item {
  }
</style>
