---
import DarkModeButton from "./DarkModeButton.astro";
import MenuItem from "./MenuItem.astro";

export interface Props {}

const {} = Astro.props as Props;
---

<div class="top-menu dark:bg-slate-900 dark:text-white bg-cyan-50 text-slate-600">
  <div class="container">
    <a href="/">br-dev.org</a>
    <ul class="menu-items gap-3 ml-auto mr-3">
      <MenuItem text="Início" href="/" />
      <MenuItem
        text="Enviar notícia"
        href="https://github.com/br-dev-org/site/issues/new"
        target="_blank"
        rel="noreferrer"
      />
      <MenuItem text="Sobre" href="/sobre" />
    </ul>
    <DarkModeButton />
  </div>
</div>
<style>
  .top-menu {
    height: 64px;
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
  }

  .menu-items {
    display: flex;
  }
</style>
