---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="container mx-auto mt-9 prose lg:prose-xl prose-slate dark:prose-invert">
    <slot />
  </div>
</BaseLayout>
